* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans';

}

.container {
  max-width: 1235px;
  width: 100%;
}

.header {
  position: fixed;
  margin: 0 auto;
  top: 0;
  padding: 35px 30px;
  background-color: #fff;
  width: 100%;
}

.header .header__container {
  margin-left: 380px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 200px;

}

.header .header__container .logo a {
  color: #151D48;
  font-size: 36px;
  font-weight: 600;
  text-decoration: none;
}

.header .header__container .info {
  display: flex;
  align-items: center;
  gap: 32px;
}

.header .header__container .info .form {
  background: #f9fafb;
  width: 413px;
  padding: 2px 0 2px 24px;
  border: 1px solid #f9fafb;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 3px;
}

.header .header__container .info .form img {
  cursor: pointer;
}

.header .header__container .info .form input {
  background: #f9fafb;
  width: 100%;
  border: none;
}

.header .header__container .info .form input:focus {
  outline: none;
}

.header .header__container .info .form input:placeholder {
  font-size: 18px;
  font-weight: 400;
}

.header .header__container .info .div {
  display: flex;
  align-items: center;
  gap: 3px;
}

.header .header__container .info .div h3 {
  font-size: 18px;
  font-weight: 600;
}

.header .header__container .info .id {
  display: flex;
  align-items: center;
  gap: 18px;
}

.header .header__container .info .id .img {
  display: flex;
  align-items: start;
  width: 48px;
  background: #FFFAF1;
  border-radius: 8px;
  padding: 10px;
}

.header .header__container .info .id .img2 {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header .header__container .info .id .img2 .img2__info {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header .header__container .info .id .img2 .img2__info div h5 {
  font-size: 16px;
  font-weight: 500;
}

.header .header__container .info .id .img2 .img2__info div h6 {
  font-size: 14px;
  font-weight: 400;
  color: #737791;
  margin-top: 4px;
}



.hero__container {
  display: inline;
  margin: 0 auto;
  margin-top: 0px;
  position: fixed;
  background-color: #fff;
  max-width: 300px;
  text-align: center;
  padding: 45px;
}

.hero__pley {
  align-items: center;
  display: flex;
  gap: 24px;
}

.pley__image {
  /* border: 2px solid #FFFFFF; */
  background-color: #5D5FEF;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 49px;
}

.pley__name {
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  color: #151D48;
  margin-bottom: 49px;
}

.button a {
  max-width: 252px;
  display: flex;
  align-items: center;
  background-color: #5D5FEF;
  border-radius: 16px;
  padding: 16px 24px;
  gap: 24px;
  text-decoration: none;
  margin-bottom: 48px;
  transition: all 0.5s linear;
}

.button .button__name {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
}

.button a:hover {
  background-color: #3d3fb8;
}

.program span {
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 18px;
  line-height: 27px;
  color: #737791;
  margin-bottom: 50px;
  transition: all 0.5s linear;
}

span:hover {
  color: #686b7e;
}


.program1 span {
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 18px;
  line-height: 27px;
  cursor: pointer;
  color: #737791;
  margin-bottom: 50px;
  transition: all 0.5s linear;
}

span:hover {
  color: #0827ec;
}




.program2 span {
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 18px;
  line-height: 27px;
  color: #737791;
  margin-bottom: 50px;
  transition: all 0.5s linear;
}

span:hover {
  color: #1d31ad;
}

.program3 span {
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 18px;
  line-height: 27px;
  color: #737791;
  margin-bottom: 50px;
  transition: all 0.5s linear;
}

span:hover {
  color: #1429b3;
}

.program4 span {
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 18px;
  line-height: 27px;
  color: #737791;
  margin-bottom: 50px;
  transition: all 0.5s linear;
}

span:hover {
  color: #0d2cf3;
}


.program5 span {
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 18px;
  line-height: 27px;
  color: #737791;
  margin-bottom: 50px;
  transition: all 0.5s linear;

}

span:hover {
  color: #102bdb;
}


.program6 span {
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 18px;
  line-height: 27px;
  color: #737791;
  margin-bottom: 50px;
  transition: all 0.5s linear;
}

span:hover {
  color: #0827ec;
  text-decoration: dotted;

}

.end {
  max-width: 238px;
  background-color: #5D5FEF;
  padding: 31px 47px 29px;
  border-radius: 20px;
  position: relative;
}

.block1 {
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.block2 {
  position: absolute;
  top: 0px;
  right: 0px;
}

.end__imag {
  margin-left: 35px;
}

.end__name {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: #fff;
  margin-bottom: 8px;
}

.profession {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  margin-bottom: 30px;
}

.end__click {
  border-radius: 8px;
  background-color: #fff;
  padding: 10px 38px;
  transition: all 0.5s linear;
}

.end__click:hover {
  color: #5D5FEF;
  background-color: #fff;
}

.span {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.text {
  margin-left: 300px;
  margin-top: 150px;
}

.dashboard__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-left: 300px;
}

.card {
  flex: 1;
  padding: 20px;
  color: white;
  border-radius: 30px;
  text-align: center;
  font-size: 24px;
  margin: 0 10px;
  padding: 40px;
  margin-top: 50px;
  transition: all 0.5s linear;
}

.card:hover {
  color: #0a2afd;
  border-radius: 50%;
}

.card:nth-child(1) {
  background-color: #4a90e2;
}

.card:nth-child(2) {
  background-color: #f5a623;
}

.card:nth-child(3) {
  background-color: #bd10e0;
}

.recent-activity {
  margin-top: 20px;
  /* background-color: white; */
  padding: 20px;
  border-radius: 10px;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
}

.recent-activity h2 {
  margin-top: 60px;
  margin-left: 300px;

}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  margin-left: 300px;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;

}

th {
  background-color: #f2f2f2;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: flex;

}

@keyframes colorChange {
  0% {
    color: red;
  }

  25% {
    color: orange;
  }

  50% {
    color: yellow;
  }

  75% {
    color: green;
  }

  100% {
    color: blue;
  }
}

.animated-text {
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  color: #151D48;
  margin-bottom: 49px;

  animation: colorChange 5s infinite;
}

@keyframes slideIn {
  from {
    transform: translatey(-100%);
  }

  to {
    transform: translateX(0);
  }
}

.slide-text {
  font-size: 40px;
  font-weight: bold;
  animation: slideIn 3s ease-in-out infinite;
  transition: all 0.3s linear;
}